section, article {
  margin-left: 110px;
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

article p {
  line-height: 1.55em;
  text-align: justify;
}

article code { font-size: 0.7em; padding-left: 5px; }
article time { font-size: 0.8em; }
article hgroup { margin-bottom: 10px;}
