<li class="presentation-lite-item">
	<h4>
	{{ if isset .Params "link" }}
		<a href="{{ .Params.Link }}">{{ .Params.Title }}</a>
	{{else}}
		{{ .Params.Title }}
	{{end}}
	@
	<span class="date"> {{ .Params.Conf }} {{ .Date.Format "2006" }}</span>	
	</h4>

	<p>
	{{ .Params.Description }}
	</p>
	
	{{ if isset .Params "slides" }}
		<a class="presentation-list-link fa fa-pencil" href="{{ .Params.Slides }}">slides</a>
	{{end}}

	{{ if isset .Params "video" }}
		<a  class="presentation-list-link fa fa-video-camera"href="{{ .Params.Video }}">video</a>
	{{end}}
</li>