<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      Metric enthusiast 
      </p>
    </div>

    <ul class="sidebar-nav"  style="margin-bottom: 2rem">
      <li><a href="/">Home</a> </li>
      <li><a href="/blog">Blog</a> </li>
      <li><a href="/presentation">Presentations</a> </li>
      <li><a href="/about">About</a> </li>
    </ul>

    <div class="footer-social">
      <a href="https://github.com/bergquist"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/carlbergquist"><i class="fa fa-twitter"></i></a>
      <a href="mailto:carl.bergquist@gmail.com"><i class="fa fa-envelope"></i></a>
      <a href="https://www.linkedin.com/in/carlbergquist"><i class="fa fa-linkedin"></i></a>
		</div>

    <p>&copy; All rights reserved.</p>
  </div>
</div>
